.header{
    border: none !important;
    z-index: 1;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.06)!important;
}


.sidebar{
    width: 100%!important;
    border: none !important;
    height: calc(100vh - 58px);
}

.conteudo{
    background-color: #F6F2F2;
    min-height: calc(100vh - 48px);
}

.no-padding{
    padding: 0 !important;
}

.ui-menuitem.ui-widget.ui-corner-all:last-child {
    float: right;
}

.ui-menuitem.ui-widget.ui-corner-all:first-child {
    float: left;
}

.corDaLogo{
    background-color: #6C63FF !important;

}
.padraoTexto{
    font-family: Roboto, serif;
    color: #6c758e;
}